In [6]:
import requests
from bs4 import BeautifulSoup

link = 'https://lenta.ru/rubrics/science/'
soup = BeautifulSoup(requests.get(link).text)

In [ ]:
#<div class="item news b-tabloid__topic_news" data-partslug="text"><div class="info g-date item__info"><span class="g-date item__date"><span class="time">09:14</span><span class="item__mdash"> — </span>Сегодня</span></div><div class="titles"><h3><a href="/news/2021/05/17/error/"><span>В Windows нашли неизвестную ошибку</span></a></h3></div></div>

In [14]:
articles = soup.find_all('div', {'class':"item news b-tabloid__topic_news"})

In [20]:
links = []
for article in articles:
    links += ['https://lenta.ru' + article.find('a').get('href')]

In [22]:
links[0]

'https://lenta.ru/news/2021/05/17/covidfit/'

In [39]:
def get_news(link):
    soup = BeautifulSoup(requests.get(link).text)
    content = soup.find('div', {'class':'b-topic__content'}).find_all('p', {'class':None})
    return ' '.join([p.text for p in content])

In [40]:
news = []
for link in links:
    news.append([get_news(link), 'Наука'])

In [48]:
rubrics = ['https://lenta.ru/rubrics/science/', 'https://lenta.ru/rubrics/culture/',
           'https://lenta.ru/rubrics/sport/', 'https://lenta.ru/rubrics/economics/',
           'https://lenta.ru/rubrics/travel/']


def get_rubric(rub_link):
    rub_name = rub_link.split('/')[-2]
    soup = BeautifulSoup(requests.get(rub_link).text)
    articles = soup.find_all('div', {'class':"item news b-tabloid__topic_news"})
    links = []
    for article in articles:
        links += ['https://lenta.ru' + article.find('a').get('href')]
    news = []
    for link in links:
        soup = BeautifulSoup(requests.get(link).text)
        content = soup.find('div', {'class':'b-topic__content'}).find_all('p', {'class':None})
        news.append([' '.join([p.text for p in content]), rub_name])
    return news

all_news = []
for link in rubrics:
    all_news += get_rubric(link)

In [44]:
import pandas as pd

In [54]:
df = pd.DataFrame(all_news, columns=['text', 'label'])
df.head()

                                                text    label
0  Ученые Университета Торонто в Канаде определил...  science
1  Международная группа ученых раскрыла загадку, ...  science
2  «Роскосмос» намерен выделить на первый этап из...  science
3  Специалисты Потсдамского института изменения к...  science
4  Microsoft отказалась от выпуска операционной с...  science

In [143]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rogovich/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [125]:
import pymorphy2
import re
lemm = pymorphy2.MorphAnalyzer()

def normalize_text(text):
    text = re.findall(r'\b[А-яЕё]+(?:-[А-яЕё]+)*\b', text)
    return ' '.join([lemm.normal_forms(word)[0] for word in text])
    
df['text'] = df['text'].apply(normalize_text)

In [182]:
from sklearn.model_selection import train_test_split
X_tr, X_te, y_tr, y_te = train_test_split(df['text'], df['label'])

In [179]:
model = CountVectorizer(max_df=0.8)

In [185]:
train_features = model.fit_transform(X_tr)
test_features = model.transform(X_te)

In [186]:
from sklearn.ensemble import RandomForestClassifier

In [187]:
forest = RandomForestClassifier()
forest.fit(train_features, y_tr)
forest.predict(test_features)

array(['science', 'sport', 'science', 'economics', 'culture', 'economics',
       'economics', 'science', 'sport', 'science', 'science', 'science',
       'economics', 'economics', 'economics', 'travel', 'science',
       'sport', 'sport', 'science', 'science', 'economics', 'travel',
       'culture', 'travel', 'culture', 'science', 'culture', 'science',
       'science', 'economics', 'science', 'economics', 'travel',
       'science', 'culture', 'travel', 'culture', 'travel', 'culture',
       'travel', 'economics', 'culture', 'travel', 'culture', 'sport',
       'science', 'culture', 'economics', 'culture', 'science', 'culture',
       'economics', 'economics', 'science', 'sport', 'economics',
       'culture', 'science', 'sport', 'sport', 'science', 'science',
       'economics', 'sport', 'economics', 'culture', 'travel',
       'economics', 'travel', 'economics', 'economics', 'sport',
       'culture', 'science', 'science', 'economics', 'travel', 'travel',
       'culture', 'culture', 'culture', 'science', 'travel', 'science',
       'culture', 'travel', 'travel', 'travel', 'science'], dtype=object)

In [190]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(forest.predict(test_features), y_te)

0.9222222222222223

In [199]:
pd.DataFrame(confusion_matrix(y_te, forest.predict(test_features), 
            labels=sorted(set(y_te))), columns = sorted(set(y_te)), 
            index=sorted(set(y_te)))

           culture  economics  science  sport  travel
culture         18          0        0      0       0
economics        0         18        3      0       0
science          0          2       21      0       0
sport            1          0        0     10       0
travel           0          0        1      0      16

In [202]:
list(y_te).count('sport')

11

In [204]:
list(forest.predict(test_features)).count('culture')

19

In [211]:
for i in range(len(y_te)):
    if list(y_te)[i] != list(forest.predict(test_features))[i]:
        print(i, list(y_te)[i], list(forest.predict(test_features))[i])

14 science economics
16 economics science
29 economics science
35 sport culture
48 science economics
82 travel science
89 economics science

In [215]:
X_te.iloc[35]

'украинский теннисистка даян ястремский объяснить попадание допинг в организм о это сообщать по информация издание на первый слушание спортивный арбитражный суд она завить что запретить вещество быть найти у она из-за секс с бывший бойфренд молодой человек отрицать обвинение он также сдать анализ кровь поздний международный федерация теннис запросить у он образец волос на что он ответить отказ отмечаться что в случай подтверждение клевета ястремский к она быть применить дополнительный санкция суд по дело украинка запланировать на второй половина май летний ястремский быть отстранить от соревнование ноябрь прошлое год после положительный допинг-тест в она организм наслать метаболит запретить вещество местеролон в данный момент она занимать быть место в рейтинг женский теннисный ассоциация'